#cuadro1{
    border: 20px solid rgb(249, 75, 0);
    margin-left: 80px;
    padding-left: 30px;
    background-image: url(imagenes/079e53f97080df6031a492e0d98f6c2d.jpg);
    h1{font-size: 50px;
        color: rgb(255, 0, 0);}
p{font-family: fantasy;
    
    color: rgb(255, 255, 255);}

.estiloTexto {
    color: rgb(255, 255, 255);
    text-align: right;
    direction: ltr; /*left to right, right to left */
    text-indent: 60px;
    letter-spacing: 10px;
    line-height: 1.5;
    word-spacing: 5px;
    /*white-space: nowrap; /*descomentar esta linea para ver la diferencia*/
    text-shadow: 2px 2px rgb(164, 0, 161); /*2px de sombra horizontal y vertical*/
    /*text-shadow: 2px 2px 5px red; /* efecto de 5px de desenfoque */
   }

}


  #cuadro2{

    background-color: blueviolet;
    margin-top: 100px;
    border: 20px solid rgb(206, 0, 182);
    padding-top: 30px;
    h1{color: rgb(255, 0, 0);}
    p{font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgb(86, 3, 3);}


    .texto{ color: rgb(255, 255, 255);
        text-align: right;
       text-decoration: overline;
        text-indent: 60px;
        letter-spacing: 5px;
        line-height: 1.15;
    

    }
  }  

  #cuadro3{

    background-color: rgb(255, 0, 0);
    margin-right: 400px;
    border: 20px solid rgb(73, 0, 0);
    padding-right: 300px;

    p{font-family: cursive;
    
        color: rgb(255, 255, 255);} width: 60px;
    
    .texto1{
        color: darkblue;
        text-align: right;
        direction: ltr; /*left to right, right to left */
        text-decoration: double;
        text-transform: uppercase; /*otras opciones: lowercase, capitalize */
        text-indent: 20px;
        letter-spacing: 20px;
        line-height: 2;
        word-spacing: 5px;
        /*white-space: nowrap; /*descomentar esta linea para ver la diferencia*/
        text-shadow: 2px 2px rgb(255, 255, 255); /*2px de sombra horizontal y vertical*/
        /*text-shadow: 2px 2px 5px red; /* efecto de 5px de desenfoque */
    }
  }  
