#primera{ 
    width: 400px;;
    padding: 100px;
    border:40px #FF6347 solid;
}

#segunda{ 
    width: 400px;;
    padding: 100px;
    border:40px #1E90FF solid;
}

#Tercera{ 
    width: 400px;;
    padding: 100px;
    border:40px #EE82EE solid;
}

